<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264625352825-d9pjker20fibjn9cv1jk4mhm0k4olhtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264625352825-d9pjker20fibjn9cv1jk4mhm0k4olhtv</string>
	<key>API_KEY</key>
	<string>AIzaSyD28EgzOxRnxvm-mn49PySCn-DZGDZ2LQs</string>
	<key>GCM_SENDER_ID</key>
	<string>264625352825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.mtcoding.riverpodFirestoreStream</string>
	<key>PROJECT_ID</key>
	<string>riverpod-firestore-strea-455c5</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-firestore-strea-455c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264625352825:ios:fc43c8eb8e943b7f4c24a8</string>
</dict>
</plist>